---
layout: archive
---
{{content}}

<ul>
    {% assign postsInYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
    {% assign thisYear = "now" | date: "%Y" %}
    {% for year in postsInYear %}
    <li>
        <a href="/years/{{ year.name }}/">{{ year.name }} ({{ year.size }})</a>
        <ul style="list-style: none; padding: 0;">
            {% for post in year.items | where_exp: "item" %}
            <li>
                <a href="{{ post.url }}">
                {{ post.title }}
                ({{post.date | date: "%b %d"}})
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>